
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

h2, p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    text-align: center;
}

a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    text-decoration: none;
}

.intro {
    height: 760px;
    width: 100%;
    background-image: url(../images/intro-background.jpg);
    background-size: cover;
    background-position: center;
}

.intro-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.intro h1 {
    display: flex;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    text-align: center;
    font-size: 40px;
}

.intro ul {
    display: flex;
    list-style: none;
}

.intro ul li {
    padding: 10px 10px;
    text-decoration: none;
}

.intro a:hover {
    color: white;
    transition: 200ms;
}

.intro p {
    color: gray;
    display: flex;
    text-shadow: 4;
}

.my-work {
    height: 1200px;
    width: 100%;
}

.my-work h2 {
    padding: 25px;
}

.my-work-content {
    display: flex;
    flex-wrap: wrap;
}

.horiseon {
    position: absolute;
    width: 870px;
    left: 25px;
}

.horiseon img {
    width: 100%;
    position: relative;
}
    
.runbuddy {
    position: absolute;
    left: 915px;
}

.runbuddy img {
    height: 434px;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image-overlay:hover {
    opacity:1;
}

.image-title {
    font-size: 3em;
    font-weight: bolder;
}

.about-me {
    height: 400px;
}

.contact {
    height: 200px;
}

.resume {
    height: 200px;
}